<div class="container px-0 my-2">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <h1>
          <%= @job %>
        </h1>

        <div class="d-flex align-items-center">
          <%= link_to edit_job_path(@job) do %>
            <i class="fa-solid fa-pen-to-square fa-2x text-secondary"></i>
          <% end %>
          <%= button_to(job_path(@job), class: "btn btn-link", method: :delete, data: { confirm: "Are you sure?" }) do %>
            <i class="fa-solid fa-trash fa-2x text-danger"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card-body">
      <p class="card-text">
        <dl>
          <dt>
            Title
          </dt>
          <dd>
            <%= @job.title %>
          </dd>

          <dt>
            Link
          </dt>
          <dd>
            <%= @job.link %>
          </dd>

          <dt>
            Description
          </dt>
          <dd>
            <%= @job.description %>
          </dd>

          <dt>
            Deadline
          </dt>
          <dd>
            <%= @job.deadline %>
          </dd>

          <dt>
            User
          </dt>
          <dd>
            <%= @job.user.username %><br>
            <% if @job.user.avatar.attached? %>
              <%= image_tag @job.user.avatar %>
            <% end %>
          </dd>

          <dt>
            Category
          </dt>
          <dd>
            <%= @job.category %>
          </dd>

          <dt>
            Created at
          </dt>
          <dd>
            <%= time_ago_in_words(@job.created_at) %> ago
          </dd>

          <dt>
            Updated at
          </dt>
          <dd>
            <%= time_ago_in_words(@job.updated_at) %> ago
          </dd>
        </dl>
      </p>
    </div>

    
  </div>
</div>
