<% if @user == current_user %>
  <%= render "profile_rating", user: @user %>
<% end %>

<div class="container my-5">
  <div class="row">
    <div class="col-md-3 text-center">
      <% if @user.avatar.attached? %>
        <%= image_tag(@user.avatar, alt: @user.username, class: "img-fluid rounded-circle mb-3") %>
      <% else %>
        <%= image_tag("briefcase", alt: @user.username, class: "img-fluid rounded-circle mb-3") %>
      <% end %>
      <h2><%= @user.username %></h2>
    </div>

    <div class="col-md-9">
      <div class="d-flex justify-content-between align-items-center">
        <!-- TODO: headline -->
        <h4 class="text-secondary"><%= "#{Faker::Emotion.adjective.capitalize} #{Faker::Job.title} in #{Faker::Company.industry} industry" %></h4>
        <% if @user == current_user %>
          <%= link_to edit_user_registration_path do %>
            <i class="fa-regular fa-pen-to-square fa-xl"></i>
          <% end %>
        <% end %>
      </div>
      <p class="mb-0"><strong>Location:</strong> <em><%= "#{Faker::Address.city}, #{Faker::Address.state_abbr}, #{Faker::Address.country}" %></em></p>
      <p class="mb-4"><strong>Industry:</strong> <em><%= Faker::Company.industry %></em></p>
      <hr>

      <section>
        <h5>About</h5>
        <p>
          <!-- TODO: about -->
          <%= Faker::Lorem.paragraph(sentence_count: 3) %>
        </p>
      </section>
      <hr>

      <!-- TODO: add experiences to user -->
      <section>
        <h5>Experience</h5>
        <ul class="list-unstyled">
          <li class="mb-3">
            <h6 class="mb-0"><%= "#{Faker::Job.title} at #{Faker::Company.name}" %></h6>
            <small class="text-muted">Jan 2020 - Present</small>
            <p>
              <%= Faker::Lorem.paragraph(sentence_count: 3) %>
            </p>
          </li>
          <li class="mb-3">
            <h6 class="mb-0"><%= "#{Faker::Job.title} at #{Faker::Company.name}" %></h6>
            <small class="text-muted">Jun 2017 - Dec 2019</small>
            <p>
              <%= Faker::Lorem.paragraph(sentence_count: 3) %>
            </p>
          </li>
        </ul>
      </section>
      <hr>

      <!-- TODO: education -->
      <section>
        <h5>Education</h5>    
        <ul class="list-unstyled">
          <li class="mb-3">
            <h6 class="mb-0"><%= "#{Faker::Educator.degree} in #{Faker::Educator.subject}" %></h6>
            <small class="text-muted"><%= Faker::Educator.university %>, 2013 - 2017</small>
          </li>
        </ul>
      </section>
      <hr>

      <section>
        <h5>Contact</h5>
        <p><strong>Email:</strong> <%= @user.email %></p>
      </section>
    </div>
  </div>
</div>
