<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/meta_tags" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render "shared/cdn_assets" %>
  </head>

  <body>
    <div>
      <%= render partial: "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= render "shared/breadcrumbs" %>
      <%= yield %>
    </div>
  </body>
</html>
